.profile-setting.container-sm {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 5vh; */
}
.profile-setting.container-md {
  max-width: 556px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.update {
  width: 100%;
  background-color: #148f77;
  color: white;
}

.update:hover {
  background-color: #106e5b;
  color: white;
}

.heading-label {
  color: #2c503e;
}

.form-control {
  border: none;
  padding: 0px;
  padding-top: 5px;
  border-radius: 0px;
  border-bottom: 1px solid grey;
}

.form-control:focus {
  border-bottom: 3px solid #148f77;
  box-shadow: none;
}

#error-msg {
  color: red;
  text-align: center;
  margin: 10px auto;
}
